{% extends "base.html" %}

{% block page_title %}
    : Contact
{% endblock %}

{% block content %}

  {% if message %}

    <div>
      <h3>Your message has been sent:</h3>
      <br>
      {{ message|linebreaks }}
    </div>

  {% else %}

    <form action="" method="post" class="form-horizontal">
      <fieldset>
        {% csrf_token %}
        <div class="control-group">
          <label class="control-label">Topic:</label>
          <div class="controls">
            {{ form.topic.as_widget }}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Message:</label>
          <div class="controls">
            {{ form.message.as_widget }}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Your Email Address:</label>
          <div class="controls">
            {{ form.email.as_widget }}
          </div>
        </div>
        <div class="control-group" style="margin-left: 300px;">
          <button type="submit" class="btn btn-primary" name="send" value="send">Send</button>
        </div>
        <div class="required">
          {{ form.message.errors }}
          {{ form.email.errors }}
        </div>
        </fieldset>
      </form>

    {% endif %}

{% endblock %}
