{% extends "base.html" %}

{% block page_title %} : Profile{% endblock %}

{% block content %}


  <div class="left half">
  <form action="" method="post" class="form-horizontal">
    <fieldset>
      {% csrf_token %}
      <div class="control-group">
        <label class="control-label" style="width: 350px; margin-right: 10px;">
          <b>Daily Reminder:</b><br>
          In your inbox at the end of every day, a gentle reminder to log the steps you took towards each goal that day.
        </label>
        <div class="controls">
          {{ emailnotificationform.dailyreminder }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" style="width: 350px; margin-right: 10px;">
          <b>Weekly Summary:</b><br>
          A complete listing of your goal activities for the previous week.
        </label>
        <div class="controls">
          {{ emailnotificationform.weeklysummary }}
        </div>
      </div>
      <div class="control-group" style="text-align: center;">
        <button type="submit" class="btn btn-primary" value="submit">Update Your Email Notifications</button>
      </div>

    </fieldset>
  </form>
  </div>


  <a href="/password/reset/" id="nav-prof">Reset Your Password</a>

{% endblock %}

