{% extends "base.html" %}

{% block page_title %}
    : Password Reset
{% endblock %}

{% block content %}

  <h2>Password reset complete</h2>
  <p>Your password has been set.  You may go ahead and log in now.</p>
  <p><a href="/accounts/login/">Log in</a></p>

{% endblock %}

