{% extends "base.html" %}

{% block page_title %}
    : Password Reset
{% endblock %}

{% block content %}

  <h2>Password reset successful</h2>

  <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>

{% endblock %}

