{% extends "base.html" %}

{% block page_title %}
    : Password Reset
{% endblock %}

{% block content %}

  <h2>Password reset</h2>

  <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

    <div>
      <form method='post' action='./' class="form-inline">
        {% csrf_token %}
        <p>
          <label for="id_email">E-mail address:</label>
          <input id="id_email" type="text" name="email" maxlength="75" />
          <input type="submit" value="Reset my password" />
        </p>
      </form>
      {% if form.errors %}<p class="required">Your username and password didn't match. Please try again.</p>{% endif %}
    </div>

{% endblock %}

