{% extends "base.html" %}

{% block page_title %}
    : Password Reset
{% endblock %}

{% block content %}

  <h2>Enter new password</h2>

  <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

  <form action="" method="post">
    {% csrf_token %}
    <p class="aligned wide"><label for="id_new_password1">New password:</label><input type="password" name="new_password1" id="id_new_password1" /></p>
    <p class="aligned wide"><label for="id_new_password2">Confirm password:</label><input type="password" name="new_password2" id="id_new_password2" /></p>
    <p><input type="submit" value="Change my password" /></p>
  </form>

{% endblock %}

