{% extends "base.html" %}

{% block page_title %}
    : Log In
{% endblock %}

{% block content %}

    <div><p>
      <form method='post' action='./' class="form-inline">
        {% csrf_token %}
        <input type="text" class="input-small" name="username" maxlength="30" placeholder="Username">
        <input type="password" class="input-small" name="password" placeholder="Password">
        <input type='submit' value='Log In' /></p>
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
        <a href="/password/reset/" id="nav-prof">Reset Your Password</a>
      </form>
      {% if form.errors %}<p class="required">Your username and password didn't match. Please try again.</p>{% endif %}
    </p></div>

    <div><p>
      <a href="/register/"><button type="submit" class="btn btn-primary" title="Register" name="Register" value="Register">Register</button></a>
    </p></div>

{% endblock %}

