.clear { clear: both; }
.left { float: left; }
.right { float: right; }

.half { width: 49%; }
.quarter { width: 22%; padding: 10px; }
.fifth { width: 18%; border: 0px solid red; padding: 10px; }
.onethird { width: 35%; }
.twothird { width: 60%; }

.visible { display: block; }
.hidden { display: none; }
.invisible { opacity: 0; }
.inactive { color: #333; }

.required { font-weight: bold; color: red; }

.date_outline { border: 0px solid red; }
.date_goal { margin: 10px; }
.date_goal_add { margin: 10px; }
.date_goal_activities { margin: 10px; }

.sum_label { font-weight: bold; text-align: right; font-size: 14px; }
.sum_week_label { width: 50px; }
.sum_day_label { width: 50px; }
.sum_date_label { padding: 2px; }
.sum_goal_label { width: 100px; padding-right: 10px; }
.sum { font-size: 14px; }
td.stretch { padding: 0px; width: 15px; }
.progfill { background-color: blue; width: 100%; }

#id_goal_one { width: 100px; }
#id_goal_two { width: 100px; }
#id_goal_three { width: 100px; }
#id_goal_four { width: 100px; }

/* from http://lixlpixel.org/css_tooltip/ */
a.tip { position: relative; }
a.tip span {
	display: none;
	position: absolute;
	top: 125px;
	left: -125px;
	width: 250px;
	padding: 0 0 0 15px;
	z-index: 100;
	background: #fff;
	color: #000;
        text-align: left; 
        font-size: 11px; 
        border: 0px dashed #999; 
	-moz-border-radius: 5px; /* this works only in camino/firefox */
	-webkit-border-radius: 5px; /* this is just for Safari */
}
a:hover.tip { /* this is just for IE */ }
a:hover.tip span { display: block; }

#section-home #nav-home { color: red; }
#section-sum #nav-sum { color: red; }
#section-about #nav-about { color: red; }
#section-cont #nav-cont { color: red; }
#section-prof #nav-prof { color: red; }

