<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}Goal Tracking{% endblock %}
        {% block page_title %}{% endblock %}
    </title>
    {% block page_css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/goaltracking.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>
    {% endblock %}
    {% block page_js %}{% endblock %}
    <script type="text/javascript">
      // if(window.location.search != '?m'){
          var mobile = (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));  
          if (mobile) {  
            document.location = "/goals/mobile/";  
          }
       // }
    </script>
</head>
<body>

{% block header %}
  {% block navigation %}
    {% include "navigation.html" %}
  {% endblock %}
{% endblock %}

<div class="container-fluid">
  {% block content %}{% endblock %}
</div>

</body>
</html>
