<!DOCTYPE html>
<html lang="en">
    <head> 
    <title>
        {% block title %}Goal Tracking{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    {% block page_css %}
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/goaltracking.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>
    {% endblock %}
    {% block page_js %}
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
    {% endblock %}
</head>
<body>

<div class="container-fluid">
  {% block content %}
    {% block page_title %}{% endblock %}
  {% endblock %}
</div>

</body>
</html>
