{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block content %}

  {% load copy_tags %}
  {% static_copy 'goal_complete' %}

  <div>

  <form action="" method="post" class="form-horizontal">
    <fieldset>
      {% csrf_token %}

      {% if goalset %}
        <div class="control-group">
          <label class="control-label" style="width: 200px;"><b>{{ goalset.goal_one }}</b> completed?</label>
          <div class="controls"><input type="checkbox" name="{{ goalset.goal_one.id }}" id="id_goal_one" /></div>
          <br clear="all">
          <label class="control-label" style="width: 200px;"><b>{{ goalset.goal_two }}</b> completed?</label>
          <div class="controls"><input type="checkbox" name="{{ goalset.goal_two.id }}" id="id_goal_two" /></div>
          <br clear="all">
          <label class="control-label" style="width: 200px;"><b>{{ goalset.goal_three }}</b> completed?</label>
          <div class="controls"><input type="checkbox" name="{{ goalset.goal_three.id }}" id="id_goal_three" /></div>
          <br clear="all">
          <label class="control-label" style="width: 200px;"><b>{{ goalset.goal_four }}</b> completed?</label>
          <div class="controls"><input type="checkbox" name="{{ goalset.goal_four.id }}" id="id_goal_four" /></div>
          <br clear="all">
        </div>
        <div class="control-group">
          <label class="control-label">
            <button type="submit" class="btn btn-primary" name="finish" value="finish">Finished!</button>
          </label>
        </div>

{% static_copy 'goal_complete_note' %}

      {% endif %}

    </fieldset>
  </form>

  </div>

{% endblock %}

