<div class="date_goal">
  <h3>Goal: <abbr title="{{ date.date_three.goal.description }}">{{ date.date_three.goal.name }}</abbr></h3>
</div>

<div class="date_goal_add">
{% if not date.complete %}
   {% if activityform %}
     <form action="/goals/addactivity/{{date.date_three.id}}/" method="post">
       <fieldset>
         {% csrf_token %}
         {{ activityform.description }}<br />
         <button type="submit" class="btn btn-primary" name="activity-mobile" value="activity-mobile">ADD AN ACTIVITY</button>
       </fieldset>
     </form>
  {% endif %}
{% endif %}
</div>

<div class="date_goal_activities">
  {% load activity_tags %}
  <ul>
  {% for activity in date.date_three.id|date_activity %}
    <li>{{ activity }}</li>
  {% endfor %}
  </ul>
</div>

