<div class="date_goal">
  <h3>Goal: {{ date.date_one.goal }}</h3>
</div>

<div class="date_goal_add">
{% if not date.complete %}
   {% if activityform %}
     <form action="/goals/addactivity/{{date.date_one.id}}/" method="post">
     {% csrf_token %}
     {{ activityform.description }}<br />
     <button type="submit" class="btn btn-primary" name"activity">ADD AN ACTIVITY</button>
     </form>
  {% endif %}
{% endif %}
</div>

<div class="date_goal_activities">
  {% load activity_tags %}
  {% for activity in date.date_one.id|date_activity %}
  {{ activity }}<br>
  {% endfor %}
</div>
