<div class="date_goal">
  <h3>Goal: <abbr title="{{ date.date_two.goal.description }}">{{ date.date_two.goal.name }}</abbr></h3>
</div>

<div class="date_goal_add">
{% if not date.complete %}
   {% if activityform %}
     <form action="/goals/addactivity/{{date.date_two.id}}/" method="post" style="border: 0px solid red; text-align: left;">
     {% csrf_token %}
     {{ activityform.description }}<br />
     <button type="submit" class="btn btn-primary" name"activity">ADD AN ACTIVITY</button>
     </form>
  {% endif %}
{% endif %}
</div>

<div class="date_goal_activities">
  {% load activity_tags %}
  <ul>
  {% for activity in date.date_two.id|date_activity %}
    <li>{{ activity }}</li>
  {% endfor %}
  </ul>
</div>

