<div>

  <form action="/goals/goaladd/" method="post" class="form-horizontal well" style="padding-bottom: 0;">
    <fieldset>
      {% csrf_token %}

      <div class="control-group">
        <label class="control-label">Goal Name:</label>
        <div class="controls">
          <input id="id_name" name="name" maxlength="255" type="text">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Description:</label>
        <div class="controls">
          <input id="id_description" name="description" maxlength="200" type="text">
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="add-mobile" value="add">Add A Goal</button>
        {% if howmanymore > 0 %}
          <p class="help-block">You need to add at least {{ howmanymore }} idea(s) to get started.</p>
        {% else %}
          <button class="btn" name="getstarted-mobile" value="getstarted">Get Started</button>
        {% endif %}
      </div>

    </fieldset>
  </form>

  <div class="control-group">
  {% if request.session.goal_add_errors %}
    {% for key, value in request.session.goal_add_errors.items %}
      <span class="required">{{ value }}</span>
    {% endfor %}
  {% endif %}
  </div>

</div>
