{% if goalpool %}

  {% if getstarted %}
    <div style="padding-left: 15px;">
      <h3>Your list of ideas:</h3>
  {% endif %}

  <table cellpadding="5">

  {% for goal in goalpool %}
    <tr valign="top">

      <td>
      {% if not getstarted %}
        <form action="/goals/goalremove/{{ goal.id }}" method="post" class="form-horizontal" style="padding-bottom: 0;">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary" style="padding: 0px;" title="Remove" name="remove" value="remove">&#x2716;</button>
        </form>
      {% endif %}
      </td>

      <td><b>{{ goal.name }}</b></td>

      <td>{{ goal.description }}</td>

    </tr>
  {% endfor %}

  </table>

  {% if getstarted %}
    </div>
  {% endif %}

{% endif %}

