<div class="container">
    <div class="row">
        <div class="span12">

  <form action="/goals/goaladd/" method="post" class="form well" style="padding-bottom: 0;">
    <fieldset>

      <div class="control-group">
        {% csrf_token %}
        <input id="id_name" name="name" maxlength="255" type="text" placeholder="Goal Name"><br>
        <textarea class="field span12" id="id_description" name="description" rows="3" maxlength="200" placeholder="Enter a brief description"></textarea>
        <button type="submit" class="btn btn-primary" name="add" value="add">Add A Goal</button>
        {% if howmanymore > 0 %}
          <p class="help-block">You need to add at least {{ howmanymore }} idea(s) to get started.</p>
        {% else %}
          <button class="btn" name="getstarted" value="getstarted">Get Started</button>
        {% endif %}
      </div>

    </fieldset>
  </form>

  <div class="control-group">
  {% if request.session.goal_add_errors %}
    {% for key, value in request.session.goal_add_errors.items %}
      <span class="required">{{ value }}</span>
    {% endfor %}
  {% endif %}
  </div>

        </div>
    </div>
</div>


