{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block content %}

  {% if goalset %}

    {% if dates %}
      {% for date in dates %}
        {% include "goal_date_set.html" %}
      {% endfor %}
    {% endif %}

  {% else %}

    {% if ready %}

        {% if getstarted %}

          {% load copy_tags %}
          {% static_copy 'goal_choose' %}
          <br clear="all">
          <div class="left twothird">
            {% include "goal_choose.html" %}
          </div>
          <div class="left onethird">
            {% include "goal_pool.html" %}
          </div>

        {% else %}

          <div class="left half">
            {% load copy_tags %}
            {% static_copy 'goal_makelist' %}
          </div>
          <div class="right half">
            {% include "goal_add_form.html" %}
          </div>
          <div class="clear"></div>
          {% include "goal_pool.html" %}

        {% endif %}

    {% else %}

      <div class="left half">
        {% load copy_tags %}
        {% static_copy 'goal_makelist' %}
        {% include "goal_pool.html" %}
      </div>
      <div class="right half">
        {% include "goal_add_form.html" %}
      </div>
      <div class="clear"></div>

    {% endif %}

  {% endif %}

{% endblock %}

