{% extends "basemobile.html" %}

{% block content %}

  <div data-role="page" id="page-home">
    <div data-role="navbar">
      <ul>
        <li><a href="#page-home" class="ui-btn-active">Home</a></li>
        <li><a href="#page-summary">Summary</a></li>
        <li><a href="#page-contact">Contact</a></li>
        <!-- <li><a href="#page-profile">Profile</a></li> -->
        <!-- <li><a href="#page-logout">Log Out</a></li> -->
      </ul>
    </div><!-- /navbar -->
    <div data-role="content">
      {% if goalset %}
          {% if dates %}
            {% for date in dates %}
              {% include "goal_date_set_mobile.html" %}
            {% endfor %}
          {% endif %}
      {% else %}
          {% if ready %}
            {% if getstarted %}
              {% load copy_tags %}
              {% static_copy 'goal_choose' %}
              {% include "goal_choose_mobile.html" %}
              {% include "goal_pool_mobile.html" %}
            {% else %}
              {% load copy_tags %}
              {% static_copy 'goal_makelist' %}
              {% include "goal_add_form_mobile.html" %}
              {% include "goal_pool_mobile.html" %}
            {% endif %}
          {% else %}
            {% load copy_tags %}
            {% static_copy 'goal_makelist' %}
            {% include "goal_add_form_mobile.html" %}
            {% include "goal_pool_mobile.html" %}
        {% endif %}
      {% endif %}

    </div><!-- /content -->
  </div><!-- /page -->

  <div data-role="page" id="page-summary">
    <div data-role="navbar">
      <ul>
        <li><a href="#page-home">Home</a></li>
        <li><a href="#page-summary" class="ui-btn-active">Summary</a></li>
        <li><a href="#page-contact">Contact</a></li>
        <!-- <li><a href="#page-profile">Profile</a></li> -->
        <!-- <li><a href="#page-logout">Log Out</a></li> -->
      </ul>
    </div><!-- /navbar -->
    <div data-role="content">
      {% if goalset %}
        {{ percent_complete|floatformat:1 }} percent complete!
      {% endif %}
      <table cellpadding="5">
        <tr>
          <td>Date</td>
          <td nowrap="nowrap"><strong>{{ goalset.goal_one }}</strong></td>
          <td nowrap="nowrap"><strong>{{ goalset.goal_two }}</strong></td>
          <td nowrap="nowrap"><strong>{{ goalset.goal_three }}</strong></td>
          <td nowrap="nowrap"><strong>{{ goalset.goal_four }}</strong></td>
        </tr>
        {% if datesets %}
          {% for dateset in datesets %}
           <tr>
            <td>{{ dateset.date_one.week }}.{{ dateset.date_one.day }}</td>
            <td>{% if dateset.complete %} &#x2713; {% endif %}</td>
            <td>{% if dateset.complete %} &#x2713; {% endif %}</td>
            <td>{% if dateset.complete %} &#x2713; {% endif %}</td>
            <td>{% if dateset.complete %} &#x2713; {% endif %}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </table>    
    </div><!-- /content -->
  </div><!-- /page -->

  <div data-role="page" id="page-contact">
    <div data-role="navbar">
      <ul>
        <li><a href="#page-home">Home</a></li>
        <li><a href="#page-summary">Summary</a></li>
        <li><a href="#page-contact" class="ui-btn-active">Contact</a></li>
        <!-- <li><a href="#page-profile">Profile</a></li> -->
        <!-- <li><a href="#page-logout">Log Out</a></li> -->
      </ul>
    </div><!-- /navbar -->
    <div data-role="content">
      <form action="/contact/" method="post">
        {% csrf_token %}
          <label>Topic:</label>
          <select name="topic" id="id_topic">
            <option value="" selected="selected"></option><option value="HLP">Get Help</option><option value="BUG">Report A Bug</option><option value="OTR">Other</option>
          </select>
          <br clear="all">
          <label>Message:</label><textarea id="id_message" rows="10" cols="40" name="message"></textarea>
          <label>Your Email Address:</label><input type="text" name="email" id="id_email" />
          <br clear="all">
          <button type="submit" name="send" value="send">Send</button>
      </form>
    </div><!-- /content -->
  </div><!-- /page -->

{% endblock %}
