{% extends "base.html" %}

{% block page_title %}
    : Summary
{% endblock %}

{% block content %}

  {% if goalset %}

    <div class="date_outline" style="margin-top: 10px;">
    <h2 style="color: gray;">{{ percent_complete|floatformat:1 }} percent complete!</h2>
    <br clear="all">

    <table>
      <tr valign="top">
        <td></td>
        {% if datesets %}
          {% load activity_tags %}
          {% for dateset in datesets %}
            <td>
	      {% if dateset.complete %}
                {% load activity_tags %}
                <a class="tip">&#x2713;
                  <span>

                    <p>{{ dateset.id|goal_activity_dates }}</p>

                    {% for activity in dateset.id|goal_activity %}
                      {{ activity.goal }}: {{ activity.activity }}<br>
                    {% endfor %}
                  </span>
                </a>
              {% else %}
                <div class="sum_date_label">{{ dateset.date_one.week }}.{{ dateset.date_one.day }}</div>
	      {% endif %}
            </td>
          {% endfor %}
        {% endif %}
      </tr>
      <tr>
        <td><div class="sum_label sum_goal_label">{{ goalset.goal_one }}</div></td>
        {% include 'goal_dateset_filler.html' %}
      </tr>
      <tr>
        <td><div class="sum_label sum_goal_label">{{ goalset.goal_two }}</div></td>
        {% include 'goal_dateset_filler.html' %}
      </tr>
      <tr>
        <td><div class="sum_label sum_goal_label">{{ goalset.goal_three }}</div></td>
        {% include 'goal_dateset_filler.html' %}
      </tr>
      <tr>
        <td><div class="sum_label sum_goal_label">{{ goalset.goal_four }}</div></td>
        {% include 'goal_dateset_filler.html' %}
      </tr>
    </table>

  {% endif %}

{% endblock %}

